* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header .top-nav {
  height: calc(100vh*0.08);
  width: 100%;
  background-color: #FFF;
  box-shadow: 1px 1px 10px #000;
  position: absolute;
}

header .top-nav a {
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  color: #424949;
  line-height: calc(100vh*0.08);
  margin: 0 20px;
}

header .bottom-nav {
  height: calc(100vh*0.08);
  width: 100%;
  background-color: #FFF;
  box-shadow: 1px 1px 10px #000;
  position: fixed;
  bottom: 0;
}

main .banner {
  width: 100%;
  height: calc(100vh*0.15);
  padding: calc(100vh*0.08) 0;
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position: bottom;
}

main .banner h2 {
  font-size: 32px;
  font-weight: 1000;
  color: #FFF;
  text-align: center;
  text-shadow: 2px 2px 3px #111;
  padding-top: calc(100vh*0.06);
}

main .banner p {
  font-size: 15px;
  font-weight: 600;
  color: #FFF;
  text-align: right;
  text-shadow: 1.5px 1.5px 2px #111;
  padding: 2px 36px 0 0;
}

main .banner i {
  color:red;
  font-size:11px;
}
