* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #FFF;
}

header .top-nav {
  height: calc(100vh*0.09);
  width: 100%;
  background-color: #FFF;
  box-shadow: 1px 1px 5px #EAE8E4;
  position: absolute;
}

header .top-nav a {
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  color: #424949;
  line-height: calc(100vh*0.09);
  margin: 0 20px;
}

header .bottom-nav {
  height: calc(100vh*0.09);
  width: 100%;
  background-color: #FFF;
  box-shadow: 1px 1px 5px #EAE8E4;
  position: fixed;
  bottom: 0;
  display: flex;
}

header .bottom-nav button {
  width: calc(100vw*0.25);
  height: 100%;
  color: #424949;
  border: none;
  background-color: #FFF;
  font-size: 16px;
}

header .bottom-nav button p {
  color: #424949;
  font-size: 9px;
  padding: 2px;
}
